#sidebar #avatar {
  width: 100%;
  aspect-ratio: 1 / 1;
  height: auto;
}

#sidebar #avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#sidebar .profile-wrapper {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

#sidebar .site-title {
  width: 100%;
  text-align: center;
}
