---
layout: default
script_includes:
  - comment
---

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>
  const PER_PAGE =
    {{ page.per_page | default: site.per_page | jsonify }};

  const PIN_ICON =
    {{ site.data.locales[lang].post.pin_prompt | jsonify }};

  const POSTS = [];

  {% for post in site.posts %}
    POSTS.push({
      date: {{ post.date | date_to_xmlschema | jsonify }},
      image: {{ post.image | jsonify }},
      image_path: {{ post.image_path | jsonify }},
      categories: {{ post.categories | jsonify }},
      pin: {{ post.pin | default: false | jsonify }},
      content: {{ post.content | markdownify | strip_html | truncate: 200 | jsonify }},
      excerpt: {{ post.excerpt | strip_html | jsonify }},
      title: {{ post.title | jsonify }},
      url: {{ post.url | relative_url | jsonify }}
    });
  {% endfor %}

  POSTS.sort((a, b) => b.pin - a.pin);
</script>
<script src="{{ site.baseurl }}{% link assets/js/posts.js %}"></script>

<div id="post-list" class="flex-grow-1 px-xl-1"></div>
<nav aria-label="Page Navigation">
  <ul class="pagination align-items-center mt-4 mb-0">
    <li id="previous" class="page-item disabled">
      <button id="previous-btn" class="page-link" aria-label="previous-page" onclick="this.blur()">
        <i class="fas fa-angle-left"></i>
      </button>
    </li>
    <li id="next" class="page-item">
      <button id="next-btn" class="page-link" aria-label="next-page" onclick="this.blur()">
        <i class="fas fa-angle-right"></i>
      </button>
    </li>
  </ul>
</nav>
